extends layout

block content
  p Welcome to our About page! It looks pretty bare doesn't it?

  h2 Concept
  div
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, ut labore et dolore magna aliqua. Ut enim ad minim veniam, sed do eiusmod tempor incididunt quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

  h2 Acknowledgements
  div
    ul
        li
            a(href='https://www.teamblind.com/post/New-Year-Gift---Curated-List-of-Top-100-LeetCode-Questions-to-Save-Your-Time-OaM1orEU') Leetcode Blind 75
        li
            a(href='https://www.educative.io/courses/grokking-the-coding-interview') Educative - Grokking the Interview - 14 Patterns
        li
            a(href='https://hackernoon.com/14-patterns-to-ace-any-coding-interview-question-c5bb3357f6ed') HackerNoon - 14 Patterns to Ace Any Coding Interivew

  h2 Contributors
  div
    h3 Jesse Njoroge
    ul
        li
            a(href='https://github.com/jnjoroge13') Jesse Njoroge's Github
        li
            a(href='https://www.linkedin.com/in/jesse-njoroge-3a5711148/') Jesse Njoroge's LinkedIn

    h3 Joel Cruz
    ul
        li
            a(href='https://github.com/joquack') Joel Cruz's Github

    h3 Jorge Yang
    ul
        li
            a(href='https://github.com/IamxiaoSheep') Jorge Yang's Github

    h3 Chase Riddick
    ul
        li
             a(href='https://github.com/Chase-Riddick') Chase Riddick's Github
        li
             a(href='https://www.linkedin.com/in/chase-riddick-a14596237/') Chase Riddick's LinkedIn
