extends layout

block content

    div(id='about-concept' class="about-section-card")
        h2(class='about-h2') What's new?
        div(id='about-concept-text')
          ul
            li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            li ut labore et dolore magna aliqua. Ut enim ad minim veniam.
            li sed do eiusmod tempor incididunt quis nostrud exercitation.
            li laboris nisi ut aliquip ex ea commodo consequat.
            li aute irure dolor in reprehenderit in voluptate velit.
            li Esse cillum dolore eu fugiat nulla pariatur.
            li Excepteur sint occaecat cupidatat non proident, sunt in culpa.
            li Qui officia deserunt mollit anim id est laborum.
