extends layout.pug

block content
    table
      thead
        tr
          th(scope='col' class='user-table-headers') First Name
          th(scope='col' class='user-table-headers') Last Name
          th(scope='col' class='user-table-headers') UserName
      tbody
        each question in all
            tr
                td(class='user-info')= question.firstName
                td(class='user-info')= question.lastName
                td(class='user-info')= question.username
