extends question.pug

block content
  if locals.authenticated
    div
      a(href='/answers/create' class='submit-new-answer btn') Submit New Answer
  if answers && answers.length > 0
    table
      thead
        tr
          th(scope='col') Answers
      tbody
        each answer in answers
          tr
            td(class='answer')= answer.body
            if locals.authenticated
              td(class='edit-delete-answers')
                  a(class='edit-answer-btn btn' href=`/answers/edit/${answer.id}` role='button') Edit
                  a(class='delete-answer-btn btn' href=`/answers/delete/${answer.id}` role='button') Delete
  else
    p: em There are no answers yet.
