extends question.pug

block content
  div
    a(href='/answers/create') Submit New Answer
  if answers && answers.length > 0
    table
      thead
        tr
          th(scope='col') Answers
      tbody
        each answer in answers
          tr
            td= answer.body
            td
                a(class='btn btn-primary' href=`/answers/edit/${answer.id}` role='button') Edit
                a(class='btn btn-danger ml-2' href=`/answers/delete/${answer.id}` role='button') Delete
  else
    p: em There are no answers yet.
