extends layout.pug

block content
  h3= answer.title
  div
    p.delete-question Proceed with deleting this answer?
  div
    form(action=`/answers/delete/${answer.id}` method='post')
      input(type='hidden' name='_csrf' value=csrfToken)
      input(type='hidden' name='questionId' value=answer.questionId)
      button(class='btn btn-danger' type='submit') Delete Answer
      a(class='btn btn-warning ml-2' href='/questions/'+answer.questionId role='button') Cancel
