//- extends layout

//- append head
  //- add page specific styles by appending to the head
 
  //- add page specific js
  //- script(src="/javascripts/index.js" type="module" defer)

extends layout.pug

block content
  if locals.authenticated
    div.welcome-page

        p Welcome to your Profile!
        span.whatodo So what do you want to do, #{user.firstName.charAt(0).toUpperCase() + user.lastName.slice(1)}
        a(href=`/users/${user.id}/${user.username}`) My Profile
        a(href=`/users`) All Users
        form(action='/users/logout' method='post')
          button(type='submit') Logout
  else
    div.welcome-page
      p Where would you like to go?
      div(class='auth')
        a(href='/users/login') Login
        a(href='/users/signup') Sign Up!
