extends layout

//- append head
  //- add page specific styles by appending to the head
  //- link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  //- script(src="/javascripts/index.js" type="module" defer)

block content
  p Welcome to your the default home page! Looks pretty bare doesn't it?

  h1 (a) LeetSpring / (b) PatternAccum / (c) PatternSpring

  img(src="./pattern-splash-page", alt="Pattern")

  div
    h2 Conquer Multiplicty
    h2 Understand 14 Patterns
    h2 Push with a Cohort/Community
    h2 Ace the Interview
