extends layout

//- append head
  //- add page specific styles by appending to the head
  //- link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  //- script(src="/javascripts/index.js" type="module" defer)

block content
  p Welcome to your the default home page! Looks pretty bare doesn't it?
  if locals.authenticated
    span So what do you want to do, #{user.firstName}?
    a(href=`/users/${user.id}/${user.firstName}`) My Profile