extends layout.pug

include utils.pug

block content
  +validationErrorSummary(errors)
  form(action='/newquestion' method='post')
    input(type='hidden' name='_csrf' value=csrfToken)
    input#title.form-control(type='text', fieldName="title", placeholder='Topic')
    input#message.form-control(type='message', fieldName="content", placeholder='What do you want to ask?')
    button(type='submit' class = 'question-submit-buttom') Add Question 
    input#message.form-control(type='button', fieldName="content", placeholder='What do you want to ask?') Cancel