extends layout.pug

block content
  div(class="error-box")
    div(class="error-box-message") To see #{name.charAt(0).toUpperCase() + name.slice(1)}'s Profile, you must be logged in!
    div(class="error-box-picture")
