extends layout.pug

block content
  div(class="error-box")
    div(class="error-box-message-1") Text 1
    div(class="error-box-picture")
    div(class="error-box-message-2") Text 2

  a(href='/') Head Back Home ~
