extends layout.pug

include utils.pug

block content
  form(action=`/users/edit/${id}/${user.firstName}` method='post')
//-     input(type='hidden' name='_csrf' value=csrfToken)
//-     +field('Username', 'username', user.username)
//-     +field('First Name', 'firstName', user.firstName)
//-     +field('Last Name', 'lastName', user.lastName)
//-     +field('Email Address', 'email', user.email)
//-     +field('Password', 'password', user.password, 'password')
//-     +field('Confirm Password', 'confirmPassword', '', 'password')
//-     div(class='py-4')
//-       button(type='submit') Confirm Changes
//-       a(href='/') Cancel
