doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Profile Not Found | StackCode 
  body 
    p Not Profile Found! 
include utils.pug

block content
  +validationErrorSummary(errors)
  p: a(href='/users/login' class = 'profile-not-found-login') Login
  p: a(href='/users/signup') Don't have an account?
  p: a(href='/') Go Back Home?