extends layout.pug

include utils.pug

block content
  +validationErrorSummary(errors)
  form(action='/questions/create' method='post')
    include question-form-fields.pug
    div(class='py-4')
      button(type='submit' class='btn btn-primary') Create Question
      a(href='/' class='btn btn-warning ml-2') Cancel