extends layout.pug

include utils.pug

block content
  +validationErrorSummary(errors)
  form(action=`/questions/edit/${question.id}` method='post')
    include question-form-fields.pug
    div
      button(type='submit') Update Question
      a(href='/questions') Cancel
