extends layout.pug

block content
    div= question.content
    if locals.authenticated
        div
            a(href='/answers/'+question.id+'/create') Submit New Answer
    if answers && answers.length > 0
        h3 Answers
        each answer in answers
            div
                div= answer.body
                if locals.authenticated
                    div
                        a(class='btn btn-primary' href=`/answers/edit/${answer.id}` role='button') Edit
                        a(class='btn btn-danger ml-2' href=`/answers/delete/${answer.id}` role='button') Delete
    else
        p: em There are no answers yet.
