doctype html
html(lang="en")
  head
    script(src="/javascripts/sandbag.js" type="module")
    link(rel="stylesheet" href="/stylesheets/sandbag.css")
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
  body 
    div(class="background-for-home")
      div(class="home-container")
        a(class="home-one" href="/") Chase
    div(class="background-for-login")
      div(class="login-container")
        a(class="login-two" href="/users/login") Joel
    div(class="background-for-about")
      div(class="about-container")
        a(class="about-three" href="/about") Jesse!