doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')

    title J3C Group - #{title}
    link(rel='stylesheet' href='../stylesheets/styles.css')
    link(rel="stylesheet" href="https://fonts.sandbox.google.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0")
    //- script(src="/javascripts/answer-answervotes.js" type="module")
    script(src="/javascripts/answerDelete.js" type="module")
    script(src="/javascripts/answerEdit.js" type="module")


  body(class="splash-page-body")
    div(class="top-bar")
        div(class="splash-logo") STACKCODE
        div(class="splash-buttons")
            div(class="splash-button-1 splash-button") Something 1
            div(class="splash-button-2 splash-button") Something 2
            div(class="splash-button-3 splash-button") Something 3
    div(class="splash-page-container")
        div(id="splash-left-container" class="splash-left-container splash")
            div(class="message-box") Conquer Multiplicity
            div(class="message-box") Master Datastructures
            div(class="message-box")="LeetCode's Blind 75"
            div(class="message-box") Ace the Interview
            div(class="message-box") With Community
            //- div(id="splash-logo-container" class="splash-logo-container top-container-child child-container splash")
            //-     p content A
            //- div(id="splash-menu-container" class="splash-menu-container top-container-child child-container splash")
            //-     p content B
        div(id="splash-right-container" class="splash-right-container")
            div(class="menu-box") Conquer Multiplicity
            div(class="icon-box")
            div(class="proceed")="PROCEED >>>"
            //- div(id="splash-message-display-container" class="splash-message-display-container center-container-child child-container splash")
            //- div(id="splash-navigation-container" class="splash-navigation-container center-container-child child-container splash")