extends layout.pug

include utils.pug

block content
  div
    h2(id='profile-welcome') Welcome #{user.firstName.charAt(0).toUpperCase() + user.firstName.slice(1)}!
    a(href=`/users/edit/${user.id}/${user.firstName}` id='edit-profile-btn btn') Edit Profile
